<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Listagem registros DNS</title>
</head>

<body>
    <h1>Listagem DNS</h1>
    
        <a href="{% url 'url_novo' %}">Novo registro</a><br><br>
   
        {% for i in registro %}
               
                 {{ i.dominio2 }} 
                -
                 {{ i.categoria}} 
                -
                 {{ i.ip }}  
                -
                 {{ i.prioridade }}  
                |
                <a href="{% url 'url_alterar' i.id %}"> edit </a>  
                |
                <a href="{% url 'url_delete' i.id  %}"> remove </a>
                |

        
        {% endfor %}
    

</body>
</html>